// PARA HACER MEDIA-QUERIES
@mixin responseTo($bp) {
  @media (min-width: $bp) {
    @content   
  }
}

@mixin firstChildrenBase {
  border: 1px solid $black;
  margin: 0 .25rem 1.25rem;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center; 

  @include responseTo($bp-md) {
    margin: 0 clamp(16px, 15%, 180px) 1.25rem;
  }

  @include responseTo($bp-lg) {
    margin: 0 .25rem 1.25rem;
  }
}

// ESQUEMA BASE DE LAYOUT Y MÃRGENES INTERNOS
// DE BLOQUE 3
@mixin articleBase {
  border: 1px dotted $plomo-borde;
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  
  > :nth-child(2) {
    margin: .75rem 0 1rem;
  }

  > :nth-child(3) {
    font-size: $medium;
    text-align: justify;
    line-height: 1.75rem;
  }

  .paragraph-instructor {
    font-weight: $bold;
    font-size: $large;
    letter-spacing: -0.5px;
    margin: 1rem 0;
  }

  .paragraph-icons i {
    margin-right: .125rem;
  }

  .paragraph-count {
    margin-right: 0.75rem;
  }
}