// color schemes 
// scheme 1 
$white: #fff;

// scheme 3
$black: #000;
$sable: #060606;
$charcoal: #2e1503;

// scheme 3
$tangerine: #ffaf6d;
$orange: #ffa500;

// colores de la maqueta
$plomo: rgb(80, 80, 80, 1);
$plomo-borde: rgb(80, 80, 80, 0.5);

// typography
// font-families
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

// font-weights
$regular: 400;
$bold: 700;

// font-sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$more-than-medium: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$bp-md: 768px;
$bp-lg: 992px;
