@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

aside ul,
footer {
  font-family: "Poppins", sans-serif;
}

aside > :nth-child(5) {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

footer input {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 5rem;
  background-color: #000;
}
nav img {
  height: 60%;
  margin-left: 1rem;
  width: auto;
}
nav svg {
  margin-right: 1rem;
}

header {
  margin-top: clamp(1rem, 10vh, 5rem);
}

main {
  border: 1px solid #000;
  margin: 0 0.25rem 1.25rem;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main article {
  border: 1px dotted rgba(80, 80, 80, 0.5);
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
main article > :nth-child(2) {
  margin: 0.75rem 0 1rem;
}
main article > :nth-child(3) {
  font-size: 16px;
  text-align: justify;
  line-height: 1.75rem;
}
main article .paragraph-instructor {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
  margin: 1rem 0;
}
main article .paragraph-icons i {
  margin-right: 0.125rem;
}
main article .paragraph-count {
  margin-right: 0.75rem;
}

aside {
  border: 1px solid #000;
  margin: 0 0.25rem 1.25rem;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* PARRAFO */
  /* TITULO MÁS CURSOS */
  /* LISTADO DE CURSOS */
}
aside img {
  width: 60%;
  max-width: 375px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-bottom: 1rem;
}
aside > :nth-child(3) {
  font-size: 20px;
  margin: 1rem 0;
}
aside > :nth-child(4) {
  align-self: flex-start;
  text-align: justify;
  line-height: 2rem;
}
aside > :nth-child(5) {
  width: 100%;
  margin: 0.75rem 0;
  text-align: center;
  color: #fff;
  background-color: #505050;
}
aside > :nth-child(6) {
  align-self: flex-start;
  margin-bottom: 2rem;
  padding-left: 1.125rem;
  list-style: circle;
}
aside a {
  text-decoration: none;
}

/* SERARAR ÍCONOS REDES SOCIALES */
.fa-twitter {
  margin: 0 1rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 2rem clamp(50px, 15%, 100px) 1rem;
  background: #060606;
  color: #fff;
}
footer p {
  display: flex;
  flex-direction: column;
}
footer p :first-child {
  margin-top: clamp(1px, 1vw, 16px);
}
footer p span {
  padding-top: clamp(4px, 1.5vw, 16px);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
}

nav > ul {
  display: none;
  list-style: none;
  position: fixed;
  /* top: 50vh; */
  /* transform: translateY(-50%); */
  top: 0;
  left: 0;
  width: clamp(150px, 50vw, 250px);
  transition: all 1.2s ease-out;
  text-align: center;
  background-color: #060606;
  color: #fff;
  border-right: 1px solid #fff;
}
nav > ul li {
  width: 100%;
  padding: 1.25rem 0;
  border-bottom: 1px solid #fff;
  box-shadow: 2px 2px 20px #060606;
}
nav > ul a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.visible {
  display: block;
  animation: aparecer 300ms ease-out;
}

@keyframes aparecer {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}
button {
  background-color: #ffaf6d;
  margin: 0.25rem auto;
  width: fit-content;
  padding: 0.25rem 0.125rem;
  border: 1px solid #fff;
  border-radius: 4px;
}

input {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 8px;
}

aside > svg {
  width: 70vw;
  max-width: 375px;
}

.tag {
  animation: moverTag 2s alternate linear infinite;
}

.rueda {
  animation: girarRueda 2s linear infinite;
  transform-origin: 79.07% 79.07%;
}

@keyframes girarRueda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes moverTag {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}

/*# sourceMappingURL=style.css.map */
