aside {
  @include firstChildrenBase;

  img {
    width: 60%;
    max-width: 375px;
    border: 1px solid $black;
    border-radius: 50%;
  }

  > :nth-child(4) {
    align-self: flex-start;
    text-align: justify;
  }

  > :nth-child(5) {
    width: 100%;
    margin: .75rem 0;
    text-align: center;
    font-family: $poppins;
    font-size: $large;
    font-weight: $bold;
    color: $white;
    background-color: $plomo;
  }

  > :nth-child(6) {
    align-self: flex-start;
    margin-bottom: 2rem;
    padding-left: 1.125rem;
    list-style: circle;
  }

  a {
    text-decoration: none;
  }
}