nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 5rem;
  background-color: $black;
  position: fixed;
  width: 100%;
  top: 0;

  img {
    height: 60%;
    margin-left: 1rem;
    width: auto;
  }

  svg {
    margin-right: 1rem;
    
    & path:hover {
      stroke: $orange !important;
    }

    @include responseTo($bp-lg) {
      display: none;
    }
  }


}